header {
  background-color: #e8e9e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  img {
    height: 200px;
    margin-bottom: 16px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;

  a {
    border: 1.2px solid black;
    text-decoration: none;
    color: black;
    padding: 16px;
  }
}

/** Responsive **/

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .banner-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}