* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  /* 🎨 Couleurs principales */
  --color-text: #050315;
  --background-color-primary: #68766C;
  --background-color-secondary: #93B09C;
  --background-color-main: #c3dac9;
  --primary-color: #0D2013;
  --secondary-color: #2C5A3A;
  --color-hover-primary: #4F7159;
  --color-hover-secondary: rgb(63, 63, 63);
  --background-color-hover: #D5E7DB;

  /* 🖌️ Typography */
  --font-family-link: 'Raleway', sans-serif;
  --font-family-title: 'Poppins', sans-serif;
  --font-family-text: 'Karla', sans-serif;
}