.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

}

.contact-container {
  grid-column: 2 / 3;
  width: auto;
  align-content: center;
  padding: 20px;
  margin: 60px auto;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: var(--background-color-secondary);
  border-radius: 6px;
}

.contact-container h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: black;
  outline: none;
}

.contact-form button {
  align-self: flex-start;
  background-color: var(--background-color-button);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--background-color-hoverbutton);
}

.success-message {
  color: var(--color-success);
  font-weight: bold;
  text-align: center;
  padding: 35px 0 35px;
}

/** Responsive **/

@media (min-width: 768px) {
  .contact-container {
    width: 600px;
    align-content: center;
    padding: 20px;
    margin: 110px auto;
  }

  .success-message {
    font-size: 28px;
  }
}